Repository nuclia/nucliadb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort_ingest, black_ingest, flake8_ingest, isort_cluster, black_cluster, flake8_cluster, isort_swim, black_swim, flake8_swim, isort_utils, black_utils, flake8_utils

isort_ingest:
  name: ISort Ingest
  entry: isort --profile black -c
  language: system

black_ingest:
  name: Black Ingest
  entry: black --check --verbose
  language: system

flake8_ingest:
  name: Flake8 Ingest
  entry: flake8 --config=nucliadb_ingest/setup.cfg
  language: system

isort_cluster:
  name: ISort Cluster
  entry: isort --profile black -c
  language: system

black_cluster:
  name: Black Cluster
  entry: black --check --verbose
  language: system

flake8_cluster:
  name: Flake8 Cluster
  entry: flake8 --config=nucliadb_cluster/setup.cfg
  language: system

isort_swim:
  name: ISort SWIM
  entry: isort --profile black -c
  language: system

black_swim:
  name: Black SWIM
  entry: black --check --verbose
  language: system

flake8_swim:
  name: Flake8 SWIM
  entry: flake8 --config=nucliadb_swim/setup.cfg
  language: system

isort_utils:
  name: ISort UTILS
  entry: isort --profile black -c
  language: system

black_utils:
  name: Black UTILS
  entry: black --check --verbose
  language: system

flake8_utils:
  name: Flake8 UTILS
  entry: flake8 --config=nucliadb_utils/setup.cfg
  language: system

Fix
  nucliadb_ingest/nucliadb_ingest/maindb/local.py
  nucliadb_ingest/nucliadb_ingest/maindb/redis.py
Due: isort_ingest, black_ingest, flake8_ingest

Left a print !
  nucliadb_ingest/nucliadb_ingest/maindb/redis.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix old bug hitting us now
  nucliadb_ingest/nucliadb_ingest/orm/node.py
Due: isort_ingest, black_ingest, flake8_ingest

Memory system schema developed
  nucliadb_vectors/Cargo.toml
  nucliadb_vectors/src/lib.rs
  nucliadb_vectors/src/memory_system/elements/mod.rs
  nucliadb_vectors/src/memory_system/lmdb_driver/database.rs
  nucliadb_vectors/src/memory_system/lmdb_driver/mod.rs
  nucliadb_vectors/src/memory_system/mmap_driver/mod.rs
  nucliadb_vectors/src/memory_system/mod.rs
Due: none

Add processing of entities on batch
  charts/nucliadb_ingest/templates/_cronjob_curator.tpl
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/curator.cronjob.yaml
  charts/nucliadb_shared/values.yaml
  nucliadb_ingest/nucliadb_ingest/app.py
  nucliadb_ingest/nucliadb_ingest/curator.py
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_ingest/setup.py
  nucliadb_protos/audit.proto
  nucliadb_protos/python/nucliadb_protos/audit_pb2.py
  nucliadb_protos/python/nucliadb_protos/audit_pb2.pyi
  nucliadb_search/nucliadb_search/api/v1/suggest.py
  nucliadb_utils/nucliadb_utils/audit/stream.py
  nucliadb_utils/nucliadb_utils/indexing.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/tests/indexing.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Fix
  nucliadb_ingest/nucliadb_ingest/app.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_utils/nucliadb_utils/indexing.py
  nucliadb_utils/nucliadb_utils/settings.py
  nucliadb_utils/nucliadb_utils/tests/indexing.py
Due: isort_ingest, black_ingest, flake8_ingest, isort_utils, black_utils, flake8_utils

Fix
  nucliadb_ingest/nucliadb_ingest/orm/knowledgebox.py
Due: isort_ingest, black_ingest, flake8_ingest

WIP
  nucliadb_ingest/nucliadb_ingest/curator.py
  nucliadb_node/src/reader/grpc_driver.rs
  nucliadb_node/src/reader/mod.rs
  nucliadb_node/src/services/reader.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2_grpc.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/knowledgebox.py
  nucliadb_search/nucliadb_search/api/v1/suggest.py
  nucliadb_search/nucliadb_search/nodes.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/search/query.py
  nucliadb_search/nucliadb_search/search/shards.py
  nucliadb_search/nucliadb_search/tests/test_basic_suggest.py
Due: isort_ingest, black_ingest, flake8_ingest

suggest fixed
  nucliadb_node/src/services/reader.rs
  nucliadb_vectors/src/directory/composite_file.rs
  nucliadb_vectors/src/directory/directory.rs
  nucliadb_vectors/src/directory/directory_lock.rs
  nucliadb_vectors/src/directory/error.rs
  nucliadb_vectors/src/directory/file_slice.rs
  nucliadb_vectors/src/directory/file_watcher.rs
  nucliadb_vectors/src/directory/footer.rs
  nucliadb_vectors/src/directory/managed_directory.rs
  nucliadb_vectors/src/directory/mmap_directory.rs
  nucliadb_vectors/src/directory/mod.rs
  nucliadb_vectors/src/directory/ram_directory.rs
  nucliadb_vectors/src/directory/tests.rs
  nucliadb_vectors/src/directory/watch_event_router.rs
Due: none

vector directory removed
  nucliadb_vectors/src/directory/composite_file.rs
  nucliadb_vectors/src/directory/directory.rs
  nucliadb_vectors/src/directory/directory_lock.rs
  nucliadb_vectors/src/directory/error.rs
  nucliadb_vectors/src/directory/file_slice.rs
  nucliadb_vectors/src/directory/file_watcher.rs
  nucliadb_vectors/src/directory/footer.rs
  nucliadb_vectors/src/directory/managed_directory.rs
  nucliadb_vectors/src/directory/mmap_directory.rs
  nucliadb_vectors/src/directory/mod.rs
  nucliadb_vectors/src/directory/ram_directory.rs
  nucliadb_vectors/src/directory/tests.rs
  nucliadb_vectors/src/directory/watch_event_router.rs
Due: none

Vectors are now a list of float
  nucliadb_protos/python/CHANGELOG.rst
  nucliadb_protos/python/nucliadb_protos/utils_pb2.py
  nucliadb_protos/python/nucliadb_protos/utils_pb2.pyi
  nucliadb_protos/rust/src/utils.rs
  nucliadb_protos/utils.proto
Due: none

Preparing release 0.0.23
  nucliadb_protos/python/CHANGELOG.rst
  nucliadb_protos/python/VERSION
Due: none

Back to development: 0.0.24
  nucliadb_protos/python/CHANGELOG.rst
  nucliadb_protos/python/VERSION
Due: none

Fix vectors on float repeated
  nucliadb_ingest/nucliadb_ingest/orm/brain.py
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
Due: isort_ingest, black_ingest, flake8_ingest

WIP
  nucliadb_node/src/services/field/reader.rs
  nucliadb_node/src/services/paragraph/search_response.rs
  nucliadb_node/src/services/reader.rs
  nucliadb_node/src/services/relation/search_response.rs
  nucliadb_protos/nodereader.proto
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.py
  nucliadb_protos/python/nucliadb_protos/nodereader_pb2.pyi
  nucliadb_protos/rust/src/nodereader.rs
  nucliadb_search/nucliadb_search/api/v1/knowledgebox.py
  nucliadb_search/nucliadb_search/api/v1/suggest.py
  nucliadb_search/nucliadb_search/search/fetch.py
  nucliadb_search/nucliadb_search/search/merge.py
  nucliadb_search/nucliadb_search/tests/test_basic_suggest.py
  search.key
Due: none

ingest | exclude metrics and monitor inbound ports from istio sidecar
  charts/nucliadb_ingest/templates/ingest-headless.svc.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
Due: none

Update shard.py
  nucliadb_ingest/nucliadb_ingest/orm/shard.py
Due: isort_ingest, black_ingest, flake8_ingest

ingest | add istio sidecar and port exceptions (#56)
  charts/nucliadb_ingest/templates/ingest-headless.svc.yaml
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/values.yaml
Due: none

ingest | fix istio inbound port exceptions on chart
  charts/nucliadb_ingest/templates/ingest.sts.yaml
Due: none

ix tests
  .dockerignore
  Dockerfile.basenode
  nucliadb_ingest/nucliadb_ingest/tests/fixtures.py
  nucliadb_node/src/services/paragraph/search_response.rs
  nucliadb_node/src/services/paragraph/writer.rs
  nucliadb_search/nucliadb_search/api/models.py
  nucliadb_search/nucliadb_search/api/v1/__init__.py
  nucliadb_search/nucliadb_search/search/query.py
  nucliadb_search/nucliadb_search/search/shards.py
  nucliadb_search/nucliadb_search/tests/test_basic_suggest.py
  nucliadb_swim/src/state.rs
Due: isort_ingest, black_ingest, flake8_ingest

Fix reader
  nucliadb_models/nucliadb_models/extracted.py
Due: none

Fix writer test
  nucliadb_writer/nucliadb_writer/tests/test_files.py
Due: none

Fix
  charts/nucliadb_ingest/templates/_cronjob_curator.tpl
Due: none

Fix writer deploy
  charts/nucliadb_ingest/templates/_cronjob_curator.tpl
Due: none

fixes INGEST-4B
  nucliadb_ingest/nucliadb_ingest/purge.py
Due: isort_ingest, black_ingest, flake8_ingest

fixes SEARCH-2M
  nucliadb_search/nucliadb_search/api/v1/knowledgebox.py
Due: none

ingest | fix istio inbound port exceptions on chart (#60)
  charts/nucliadb_ingest/templates/ingest.sts.yaml
Due: none

Fix curator
  nucliadb_ingest/nucliadb_ingest/curator.py
Due: isort_ingest, black_ingest, flake8_ingest

workflows | differentiate container registry from image name
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_writer.yml
Due: none

chart | delete nucliadb stand-alone chart
  charts/nucliadb/Chart.yaml
  charts/nucliadb/values.yaml
Due: none

charts | differentiate container registry from image name
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

More logging on curator
  nucliadb_ingest/nucliadb_ingest/curator.py
Due: isort_ingest, black_ingest, flake8_ingest

fixes SEARCH-2G
  nucliadb_search/nucliadb_search/search/fetch.py
Due: none

Fix anoying message on closing swim
  nucliadb_swim/nucliadb_swim/state.py
Due: isort_swim, black_swim, flake8_swim

Fix shards endpoint
  nucliadb_search/nucliadb_search/api/models.py
Due: none

Try to fix tikv tests
  nucliadb_ingest/nucliadb_ingest/tests/tikv.py
Due: isort_ingest, black_ingest, flake8_ingest

Fix
  nucliadb_ingest/nucliadb_ingest/tests/tikv.py
Due: isort_ingest, black_ingest, flake8_ingest

Refactor charts (#58)
  .github/workflows/nucliadb_ingest.yml
  .github/workflows/nucliadb_node.yml
  .github/workflows/nucliadb_reader.yml
  .github/workflows/nucliadb_search.yml
  .github/workflows/nucliadb_shared.yml
  .github/workflows/nucliadb_writer.yml
  charts/nucliadb/Chart.yaml
  charts/nucliadb/values.yaml
  charts/nucliadb_ingest/templates/_cronjob_purge.tpl
  charts/nucliadb_ingest/templates/ingest.sts.yaml
  charts/nucliadb_ingest/values.yaml
  charts/nucliadb_node/templates/node.sts.yaml
  charts/nucliadb_node/values.yaml
  charts/nucliadb_reader/templates/reader.deploy.yaml
  charts/nucliadb_reader/values.yaml
  charts/nucliadb_search/templates/search.deploy.yaml
  charts/nucliadb_search/values.yaml
  charts/nucliadb_writer/templates/writer.deploy.yaml
  charts/nucliadb_writer/values.yaml
Due: none

Path conditions:
  isort_ingest: any of: nucliadb_ingest/.*\.py$$
  black_ingest: any of: nucliadb_ingest/.*\.py$$
  flake8_ingest: any of: nucliadb_ingest/.*\.py$$
  isort_cluster: any of: nucliadb_cluster/.*\.py$$
  black_cluster: any of: nucliadb_cluster/.*\.py$$
  flake8_cluster: any of: nucliadb_cluster/.*\.py$$
  isort_swim: any of: nucliadb_swim/.*\.py$$
  black_swim: any of: nucliadb_swim/.*\.py$$
  flake8_swim: any of: nucliadb_swim/.*\.py$$
  isort_utils: any of: nucliadb_utils/.*\.py$$
  black_utils: any of: nucliadb_utils/.*\.py$$
  flake8_utils: any of: nucliadb_utils/.*\.py$$
